.q-card {
    // box-shadow: 0 3px 5px -1px rgb(0 0 0 / 10%), 0 5px 8px rgb(0 0 0 / 4%), 0 1px 14px rgb(0 0 0 / 2%);
    // box-shadow: 0 6px 6px -3px rgb(0 0 0 / 10%), 0 10px 14px 1px rgb(0 0 0 / 4%), 0 4px 18px 3px rgb(0 0 0 / 2%);
    border-radius: 0px;
}


.highlight {
  border-bottom: 3px solid pink;
}

.logo_in_title {
    height: 50px; position: relative; z-index: 5;

    @media (max-width: 1024px){
        height: 30px;
        width: 250px;
    }
}

.title {
  position: relative;
  padding: 10px 20px;
  background: #4caf50;
  border-radius: 8px !important;
  color: white;

  > div {
      position: relative;
      z-index: 3;

    //   &+div {
    //       font-size: 80%;
    //   }
  }

  &::before {
      content: '';
      position: absolute; z-index: 2;
      top: 0px; left: 0px; right: 0px; bottom: 0px;
      background: bottom center url('/img/bg/green.png');
      background-size: cover;
      opacity: .8;
      filter: blur(3px);
  }

  @media (max-width: 1024px){
      // font-size: 3rem;
      // font-size: 40px;
      line-height: 1;

      >div+div
      {
          margin-top: 20px;
          // font-size: 80%;
          line-height: 1.2;
      }

      .sub {
        padding-left: 40px;
      }
  }

  @media (max-width: 768px){
      // font-size: 2.5rem;
      // font-size: 32px;
  }
}


.ProductTabs {
  .q-tab__label {
      font-size: 24px;
      font-weight: 400;
  }
}

.q-tab__indicator {
    height: 6px;
}

.shadow-price {
    box-shadow: 0 6px 6px -3px rgb(0 0 0 / 10%), 0 10px 14px 1px rgb(0 0 0 / 1%), 0 4px 18px 3px rgb(0 0 0 / 3%)
}


a:not(.q-btn) {
    color: #4caf50 !important;
    text-decoration: none;
    font-weight: bold;
    transition: all .3s;

    &:hover {
        color: #2f8032 !important;
    }
}